<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css'/>

  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1>Rally script</h1>
    </div>
  </div>

  <div class="row command_row">
    <div class="col-xs-12">
      <div class="btn-group" role="group" aria-label="direct commands">
        <button type="button" class="btn btn-default car_action" data="f">Forward</button>
        <button type="button" class="btn btn-default car_action" data="l">Left - one step</button>
        <button type="button" class="btn btn-default car_action" data="r">Right - one step</button>
        <button type="button" class="btn btn-default car_action" data="b">B - drive in reverse</button>
        <button type="button" class="btn btn-default car_action" data="s">S - Stop</button>
      </div>
    </div>
  </div>

  <div class="row command_row">
    <div class="col-xs-3">
      Pattern commands:
    </div>
    <div class="col-xs-9">
      <div class="btn-group" role="group" aria-label="Pattern commands">
        <button type="button" class="btn btn-default car_pat_action" data="<">Rotate left until</button>
        <button type="button" class="btn btn-default car_pat_action" data=">">Rotate right until</button>
      </div>

      <input type="text" class="pattern_input" id="pattern_1" value=""></input>
      <input type="text" class="pattern_input" id="pattern_2" value=""></input>
      <input type="text" class="pattern_input" id="pattern_3" value=""></input>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="widget-number">
        <h1 class="title" id="direction-label">Heartbeat</h1>

        <h2 class="value" id="direction-value">0</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">

      <div class="widget-number">
        <h1 class="title" id="heading-label">Heading</h1>

        <h2 class="value" id="heading-value">5</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">

      <div class="widget-number">
        <h1 class="title" id="distance-label">Distance</h1>

        <h2 class="value" id="distance-value">0</h2>
      </div>
    </div>

  </div>

</div>


<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var car = 'Turtle';

  socket.on('heartbeat', function (msg) {
    //console.log('heartbeat: ' + msg);
    $('#direction-value').text(msg);
  });

  socket.on('car_data', function (msg) {
    switch (msg.action) {
      case 'heading':
        $('#heading-value').text(msg.payload.deg.toFixed(0));
        break;
      case 'dist':
        $('#distance-value').text(msg.payload.cm.toString());
        break;

      case 'move':
        break;

      case 'cc':
        break;

    }
  });

  function emmit_command(command) {
    socket.emit('car_data_out', {car_name: car, command: command});
    console.log('Command emitted ', command);
  }

  function get_pattern(){
    return $('#pattern_1').val() + $('#pattern_2').val() + $('#pattern_3').val();
  }

  $('.car_action').click(function (event) {
    emmit_command($(event.target).attr("data"));
  });

  $('.car_pat_action').click(function (event) {
    emmit_command($(event.target).attr("data")+get_pattern());
  });


</script>

</body>
</html>
