<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css'/>

  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1>Rally script</h1>
    </div>
  </div>

  <div class="row">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Forward</button>
      <button type="button" class="btn btn-default">Left - one step</button>
      <button type="button" class="btn btn-default">Right - one step</button>
      <button type="button" class="btn btn-default">B - drive in reverse</button>
      <button type="button" class="btn btn-default">S - Stop</button>
      <button type="button" class="btn btn-default">Rotate left</button>
      <button type="button" class="btn btn-default">Rotate right</button>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="widget-number">
        <h1 class="title" id="direction-label">Direction</h1>

        <h2 class="value" id="direction-value">5</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">

      <div class="widget-number">
        <h1 class="title" id="heading-label">Heading</h1>

        <h2 class="value" id="heading-value">5</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">

      <div class="widget-number">
        <h1 class="title" id="distance-label">Distance</h1>

        <h2 class="value" id="distance-value">10</h2>
      </div>
    </div>

  </div>

</div>


<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('heartbeat', function (msg) {
    console.log('heartbeat: ' + msg);
    $('#direction-value').text(msg);
  });

  socket.on('car_data', function (msg) {
    console.log('car_data: ' + msg);
  });

</script>

</body>
</html>
