body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.widget-number {
  background-color: #47bbb3;
  width: 90%;
  border: 1px solid #000000;
  text-align: center;
  margin: 20px;
}

.widget-number .title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 32px;
  font-weight: 900;
  color: #000000;
}
.widget-number .value {
  color: #fff;
  font-weight: 500;
  font-size: 72px;
  color: #fff;
}



